# Ignore Python bytecode directories
__pycache__/
*__pycache__/
*.py[cod]
*$py.class

# Ignore pytest directories
*.pytest_cache

# Ignore virtual environment directories
.venv/
.env/

# Ignore VS Code directories
.vscode/

# Ignore build assets
build/
dist/

scrap/
