# Ignore Python bytecode directories
__pycache__/
*__pycache__/

# Ignore pytest directories
*.pytest_cache

# Ignore virtual environment directories
.venv/
.env/

# Ignore VS Code directories
.vscode/
